.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Not-Visited {
  background-color: white;
  border: 1px solid #767679;
  color: #000000;
}

.Visited {
  background-color: #a7c7e7;
}

.Focusing {
  background-color: #FFFF8F;
  color: #000000;
}

.Focused {
  background-color: #FBC02D;
}

.Capturing {
  background-color: #C5FB9D;
  color: #000000;
} 

.Captured {
  background-color: #1aa260;
}

.Under-Process {
  border: 1px dotted;
} 
